# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
<ul>
    <li>List of popular languages for Data Science</li>
    <li>List of commonly used libraries used by Data Scientists </li>
    <li>List of some Data Science Tools</li>
    <li>Example for some arithmetic expressions</li>

### Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy  </li>
    <li> Keras </li>
    <li>Pandas  </li>
    <li>Pytorch  </li>
    <li>SciPy  </li>
    <li> Matplotlib </li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <td>Hadoop</td>
    <tr>
    </tr>
    <td>MySQL</td>
    <tr>
    </tr>
    <td>R studio</td>
    <tr>
    </tr>
    <td>Jupyter Notebook</td>
    <tr>
    <tr>
        <td>Apache Spark</td>
    </tr>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Amrath Prasad